<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <h2>Registration</h2>
      </div>

      <!-- Login Form -->
      <form [formGroup]='form' (ngSubmit)="onSubmit($event)">
        <input type="text" id="name" class="fadeIn second" name="name" placeholder="Give your name" formControlName="name">
        <span class='d-block' *ngIf='form.get("name").errors && form.get("name").errors.required && (form.get("name").dirty || form.get("name").touched)'>To pole jest wymagane!</span>
        <span class='d-block' *ngIf='form.get("name").errors && form.get("name").errors.minlength && (form.get("name").dirty || form.get("name").touched)'>Podane imie musi mieć przynajmniej 3 znaki!</span>

        <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email" formControlName="email">
        <span class='d-block' *ngIf='form.get("email").errors && form.get("email").errors.email && (form.get("email").dirty || form.get("email").touched)'>Podaj poprawny email!</span>
        <span class='d-block' *ngIf='form.get("email").errors && form.get("email").errors.required && (form.get("email").dirty || form.get("email").touched)'>To pole jest wymagane!</span>
        <span class='d-block' *ngIf='form.get("email").errors && form.get("email").errors.emailExistInBase && (form.get("email").dirty || form.get("email").touched)'>Podany mail jest już w bazie!</span>

        <div formGroupName="passwordGroup">
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" formControlName="password">
          <span class='d-block' *ngIf='form.get(["passwordGroup","password"]).errors && form.get(["passwordGroup","password"]).errors.required && (form.get(["passwordGroup","password"]).dirty || form.get(["passwordGroup","password"]).touched)'>Pole hasła nie może byc puste!</span>
          <span class='d-block' *ngIf='form.get(["passwordGroup","password"]).errors && form.get(["passwordGroup","password"]).errors.minlength && (form.get(["passwordGroup","password"]).dirty || form.get(["passwordGroup","password"]).touched)'>Podane hasło musi zawierać minimm 6 znaków!</span>
  
          <input type="password" id="password-repeat" class="fadeIn third" name="password-repeat" placeholder="Repeat Password" formControlName="passwordRepeat">
          <span class='d-block' *ngIf='form.get("passwordGroup").errors && form.get("passwordGroup").errors.notSame && (form.get("passwordGroup").dirty || form.get("passwordGroup").touched)'>Podane hasła musza być identyczne!</span>
          <span class='d-block' *ngIf='form.get(["passwordGroup", "passwordRepeat"]).errors && form.get(["passwordGroup", "passwordRepeat"]).errors.required && (form.get(["passwordGroup", "passwordRepeat"]).dirty || form.get(["passwordGroup", "passwordRepeat"]).touched)'>Pole hasła nie może byc puste!</span>
          <span class='d-block' *ngIf='form.get(["passwordGroup", "passwordRepeat"]).errors && form.get(["passwordGroup", "passwordRepeat"]).errors.minlength && (form.get(["passwordGroup", "passwordRepeat"]).dirty || form.get(["passwordGroup", "passwordRepeat"]).touched)'>Podane hasło musi zawierać minimm 6 znaków!</span>
  
        </div>
        <input type="submit" class="fadeIn fourth" value="Create an account">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a [routerLink]="'/login'">Back to login page</a>
      </div>

    </div>
  </div>

